!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => I18n.locale.to_s, :lang => I18n.locale.to_s}
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title= "homepage"
  %body
        #content_main
          = yield
